# macOS
.DS_Store
**/.DS_Store

# VSCode
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# Build
dist/
build/

# Backup files
Backup data/
backups/
